<h1>Room Detail</h1>
{{#with room}}
<h3>Name: {{name}}</h3>
<p>Description: {{description}}</p>
{{/with}}

{{#isOwner room userGlobal}}
<a href="/rooms/{{room._id}}/edit">Edit this Room </a>
<a href="/rooms/{{room._id}}/delete">Delete this Room 🗑</a>
{{/isOwner}}